{
    "server": "127.0.0.1",
    "server_port": 8388,
    "password": "{{ shadowsocks_password }}",
    "timeout": 300,
    "method": "chacha20-ietf-poly1305",
    "fast_open": true,
    "workers": 1
}
