#jinja2: trim_blocks:False
[Unit]
Description=A server application to run tox node written in pure Rust
After=local-fs.target network.target

[Service]
User=tox
EnvironmentFile=/etc/tox-node.env
ExecStart=/usr/bin/tox-node {{ tox_node_args | join(' ') }} {% for item in tox_bootstrap_nodes %}--bootstrap-node '{{ item | join('\' \'') }}' {% endfor %}
Type=simple
LimitNOFILE=8192
StandardOutput=null
StandardError=null
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
