*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
{% if tor_enabled %}
-A OUTPUT -o eth0 -m owner --uid-owner tor -j CLASSIFY --set-class 1:10
{% endif %}
{% if tox_enabled %}
-A OUTPUT -o eth0 -m owner --uid-owner tox -j CLASSIFY --set-class 1:11
{% endif %}
COMMIT

*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -p tcp --dport 22 -j ACCEPT
-A INPUT -p tcp --dport 80 -j ACCEPT
-A INPUT -p tcp --dport 443 -j ACCEPT
-A INPUT -p tcp --dport 655 -j ACCEPT
-A INPUT -p udp --dport 655 -j ACCEPT
{% if tor_enabled %}
-A INPUT -p tcp --dport 9001 -j ACCEPT
{% endif %}
{% if tox_enabled %}
-A INPUT -p tcp --dport 33445 -j ACCEPT
-A INPUT -p udp --dport 33445 -j ACCEPT
{% endif %}
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
-A INPUT -j DROP
-A FORWARD -i kvpn -o eth0 -j ACCEPT
-A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A FORWARD -j DROP
-A OUTPUT -j ACCEPT
COMMIT
