worker_processes  1;

events {
  worker_connections  1024;
}

http {
  include       mime.types;
  default_type  application/octet-stream;

  sendfile        on;
  #tcp_nopush     on;

  #keepalive_timeout  0;
  keepalive_timeout  65;

  #gzip  on;

  error_page  404              /404.html;
  error_page   500 502 503 504  /50x.html;

  # Don’t show the Nginx version number (in error pages / headers)
  server_tokens off;

  server {
    listen 8443 ssl;
    server_name kurnevsky.net;
    root /usr/share/webapps;

    # Don't include port when redirect happens due to missing trailing slash
    port_in_redirect off;

    access_log /var/log/nginx/server_access.log;
    error_log /var/log/nginx/server_error.log info;

{% if acme %}
    ssl_certificate /etc/letsencrypt/live/kurnevsky.net/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/kurnevsky.net/privkey.pem;
{% else %}
    ssl_certificate /kurnevsky.net.crt;
    ssl_certificate_key /kurnevsky.net.pem;
{% endif %}

    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout 5m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers "HIGH:!RC4:!aNULL:!MD5";
    ssl_prefer_server_ciphers on;

    # Add headers to serve security related headers
    add_header Strict-Transport-Security "max-age=15768000; includeSubDomains; preload;";
    add_header X-Content-Type-Options nosniff;
    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Robots-Tag none;
    add_header X-Download-Options noopen;
    add_header X-Permitted-Cross-Domain-Policies none;

    # Set max upload size
    client_max_body_size 10G;
    fastcgi_buffers 64 4K;

    location /tt-rss {
      index index.php;
    }

    location ~ \.php(?:$|/) {
      fastcgi_split_path_info ^(.+\.php)(/.+)$;
      fastcgi_pass unix:/run/php-fpm/php-fpm.sock;
      fastcgi_index index.php;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      fastcgi_param PATH_INFO $fastcgi_path_info;
      fastcgi_param HTTPS on;
      include fastcgi.conf;
    }
  }

  server {
    listen 80;
    server_name kurnevsky.net;

    location ^~ /.well-known {
      allow all;
      alias /var/lib/letsencrypt/.well-known/;
      default_type "text/plain";
      try_files $uri =404;
    }

    location / {
      return 301 https://$server_name$request_uri;
    }
  }
}
